<footer class="site-footer" role="contentinfo">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Me contacter</h2>
        <ul class="contact-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>Mon agence : <a href="{{site.agence}}">Menschhh</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
      <a href="http://competitionremuneration.metiers-graphiques.fr/">
      <img src="/assets/img/logo-couleur.png" alt="le logo compétition=rémunération" width="80%" style="margin-top:-40px"></a>
        <p class="contact-list"> En tant que professionnel de la création graphique,
je refuse de participer aux compétitions
et appels d'offre non-rémunérés.</p>
<p>En lire plus à se sujet sur le site de l'association <a href="http://competitionremuneration.metiers-graphiques.fr/">Metiers Graphiques</a>.</p>
      </div>
    </div>

  </div>

</footer>
